
.container {
  width: 100vw;
  min-height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


// Weather Bar

%wthr {
  font-size: .8rem;
  color: #ffffff;
}

.wthr-city {
  @extend %wthr;
  font-weight: 900;
}

.wthr-info {
  @extend %wthr;
  font-weight: 600;
  margin: 0 10px;
  padding: 0;
}

.wthr-cord {
  @extend %wthr;
  font-weight: 600;
  display: none;
}

.wthr-icon {
  width: 40px;
  height: 40px;
  color: $baby-powder;
  margin-bottom: 2px;
}

.weather {
  display: flex;
  align-items: center;
}

.wthr-bar {
  background-color: $primary-color;
  padding: 2px 0 8px;
  width: 100%;
}

// Header Navigation bar
.nav-bar-clr {
  background-color: $secondary-color;
  height: 3rem;
  color: white;


  a {
    color: $baby-powder;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

.brand-text {
  font-size: 1rem;
  font-weight: 900;
}

.reg_info {
  font-family: $font-stack;
  font-size: .8rem;
  line-height: 1rem;
  color: #999999;
}

.card__login {
  width: 90vw;
  margin: 4vh auto 0;
  box-shadow: 0 0 15px 0 #000;
  z-index: 2;
  display: flex;
}

.row__btn {
  width: 100%;
  margin: 0;

}

.btn {
  padding: 6px 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;

  &:hover {
  }
}

.btn__login {
  @extend .btn;
  margin: 3vh auto 0;
  border: 1px solid;
  border-color: $charcoal-color;
  background-color: white;
  width: 15rem;
  color: $charcoal-color;

  &:hover {
    background-color: $charcoal-color;
    color: #fff;
  }
}

.btn__data {
  @extend .btn;
  margin: 0 auto;
  border: 1px solid;
  border-color: $charcoal-color;
  background-color: white;
  color: $charcoal-color;
  width: 15rem;

  &:hover {
    background-color: $charcoal-color;
    color: #fff;
  }
}

.btn__google {
  @extend .btn;
  margin: 3vh auto 0;
  border: 0 solid;
  border-color: white;
  background-color: white;
  text-align: center;
  color: $charcoal-color;

  &:hover {
    background-color: $charcoal-color;
    color: #fff;
  }
}

.btn__search {
  @extend .btn;
  border: 0 solid;
  border-color: white;
  background-color: white;
  text-align: center;
  color: $charcoal-color;
  margin: 2vh 0 0;
}

.btn__reset {
  @extend .btn;
  border: 0 solid;
  border-color: white;
  background-color: white;
  text-align: center;
  color: $primary-color;
  font-size: .9rem;
  font-weight: 400;
  margin: 2vh 0 0;
}

.btn__start {
  @extend .btn;
  margin: 3vh auto 0;
  border: 0 solid;
  border-color: white;
  background-color: $primary-color;
  width: 100%;
  color: white;

  &:hover {
    background-color: $charcoal-color;
    color: #fff;
  }
}

.btn__history {
  @extend .btn;
  width: 250px;
  margin: 0 5px 0;
  border: 1px solid;
  border-color: $charcoal-color;
  background-color: $primary-color;
  color: white;
  font-size: 1rem;
  line-height: 1rem;

  &:hover {
    background-color: $secondary-color;
    border-color: $charcoal-color;
    color: #fff;
  }
}


.btn__register {
  @extend .btn;
  width: 70%;
  margin: 3vh auto 0;
  padding: .5rem 0;
  border: 1px solid;
  border-color: $charcoal-color;
  background-color: $secondary-color;
  color: white;
  font-size: .8rem;
  line-height: 1.1rem;
  text-align: center;
  justify-self: center;

  &:hover {
    background-color: $charcoal-color;
    border-color: white;
    color: #fff;
  }
}

.btn__white {
  @extend .btn;
  margin: 1vh auto 0;
  border: 1px solid;
  border-color: $charcoal-color;
  background-color: white;
  width: 15rem;
  color: $charcoal-color;
  text-align: center;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}

.btn__white--return {
  @extend .btn__white;
  margin-bottom: 2vh;
}

.btn__white--top {
  @extend .btn__white;
  margin: 0 auto 0;
}

%btn__bird {
  color: $secondary-color;
  font-weight: 600;
  margin: 0;
  padding-top: 1px;
  border-radius: 5px;
  border: none;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn__bird--sm {
  @extend %btn__bird;
  width: 2rem;
  height: 1.5rem;
  border: thin solid $secondary-color;
  background-color: white;
  font-size: .8rem;
  padding-top: 2px;

  &:hover {
    color: #fff;
    background-color: lighten($secondary-color, 50%);
  }
}

.btn__bird--sm-add {
  @extend %btn__bird;
  width: 1.8rem;
  height: 1.5rem;
  border: thin solid $secondary-color;
  background-color: white;
  font-size: .8rem;
  color: $secondary-color;
  padding-top: 4px;

  &:hover {
    color: #fff;
    background-color: lighten($secondary-color, 50%);
  }
}

.btn__bird--add {
  @extend %btn__bird;
  width: 1.5rem;
  height: 1.5rem;
  border: thin solid lighten($secondary-color, 30%);
  background-color: lighten($secondary-color, 60%);
  color: $secondary-color;

  &:hover {
    color: #fff;
    background-color: $secondary-color;
  }
}

.btn__bird--minus {
  @extend %btn__bird;
  width: 1.5rem;
  height: 1.5rem;
  border: thin solid lighten($primary-color, 30%);
  background-color: lighten($primary-color, 60%);
  color: $secondary-color;

  &:hover {
    color: #fff;
    background-color: $primary-color;
  }
}

.btn__bird-addlist {
  @extend %btn__bird;
  background-color: lighten($secondary-color, 90%);
  padding: 3px 15px;
}

.btn__bird-sub {
  @extend %btn__bird;
  background-color: #fcba04ff;
  padding: 1px 10px;
}

.btn__bird-start {
  background-color: lighten($secondary-color, 70%);
  @extend %btn__bird;
  padding: 10px 20px;
  width: 200px;
  font-size: .9rem;
  font-weight: 800;
}

.btn__bird-box {
  @extend %btn__bird;
  width: 75px;
  font-size: .8rem;
}

.sub-btn {
  @extend %btn__bird;
  background-color: $sub-button;
  padding: 5px 7px;
  border: 0;
  font-size: .9rem;
  margin-right: 20px;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 7px;
    border: 0;
  }
}

// LOGIN
.login-bckgrnd {
  position: fixed;
  background: #8f000eff;
  width: 100%;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
}

.bird__login {
  margin-top: 2vh;
}

.form__login {
  display: flex;
  flex-direction: column;
}

.reg__headline {
  margin: 5vh 0 0;
  color: $secondary-color;
  font-size: 1.3rem;
  justify-self: center;
  text-align: center;
}

// Registration

.reg {
  font-size: .9rem;
  text-align: center;
}

.google {
  text-align: center;
  font-size: 1.2rem;
}

// Dashboard

.history {
  background-color: #eee;
  margin-top: 3vh;
  padding-top: 3vh;
}

.dash {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__intro {
    margin: 5vh 0 0;

    h3 {
      text-align: center;
    }
  }

  &__start {
    margin: 0;
  }


  &__cond {
    margin: 3vh 0 0;
  }

  &__text {
    margin: 6vh 0 0;
    text-align: center;
  }

  &__bird {
    margin: 0 auto;
  }

  &__history {
    margin: 0;
    flex-direction: column;
  }
}

.dash__bird--text {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  padding-top: 2vh;
}

.dash__bird--starttext {
  text-align: center;
  font-size: .9rem;
  color: white;
  font-weight: 600;
  padding-top: 0;
}

.btn__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
  align-self: center;
  justify-self: center;
}

.weather__info--icon {
  width: 75px;
}

.weather__info--temp {
  font-weight: 500;
  font-size: 2rem;
  color: rgba(46, 41, 78, .6);
  padding-top: 5px;
}

.weather__info {
  font-weight: 600;
  margin: 0;
}

.history__intro {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.article__top {
  margin-top: 0;
  padding-top: 2vh;
}

.location {
  width: 60%;
  margin: 0 auto;

  &__get {

  }

  &__accept {
    margin-top: 2vh;
  }

}

.location--form {
  height: 100%;
}


/*  SESSION SPOTTING BIRDS */

.article__bird-List {
  margin: 0;
  padding: 3vw;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.session__text--none {
  margin: 2vh auto;
  font-size: 1.2rem;
  color: $secondary-color;
  font-weight: 400;
}

.session__text {
  margin: 3vh auto 1.5vh;
  font-size: 1.2rem;
  color: $secondary-color;
  font-weight: 600;
  text-align: center;
  width: 100%;
}


.session__text--search {
  margin: 3vh auto 1.5vh;
  font-size: 1rem;
  color: $secondary-color;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.session__text--p {
  margin: 0 auto;
  padding: 0 10vw;
  font-size: .9rem;
  line-height: 1.1rem;
  color: $secondary-color;
  font-weight: 400;
  text-align: center;
}

.session__page {

}

.session__seen {
  margin-top: 3vh;
}

.session__birds--seen {
  width: 90vw;
  margin: 0 auto;
}

.watch-list,
.spotted-list {
  width: 100%;
  font-size: .9rem;

  a {
    color: $charcoal-color;
    font-size: .9rem;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    font-weight: 800;
  }

  a:visited {
    text-decoration: none;
    color: $charcoal-color;
  }
}

.bird__name-td {
  width: 60%;


}


table.session__birds--seen td {
  padding: 2px 3px;
}

.spotted-birdsU,
.spotted-birds {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.btn_math {
  width: 1.6rem;
}

.adds {
  width: 1.6rem;
}

.minuses {
  width: 1.6rem;
}


// ADD BIRD SESSION page

.birdlist {
  margin: 3vh auto 10vh;
  width: 100%;
  border: 0;
}

#bird-list {
  display: none;
}

.sesh-bird {
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: 100%;
}

.birdname-td {
  color: $secondary-color;
}

.birdname--session {
  color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bird-name {
  width: 80vw;
  color: $secondary-color;

}

.bird-name-js {
  width: 80vw;
  color: $secondary-color;
  text-align: left;
}

.bird-name--seen {
  color: $secondary-color;
}


.dash__bird-name {
  width: 80vw;
  color: white;
  padding: 2px 0;

  &:hover {
    color: yellow;
    font-weight: 600;
    text-decoration: none;
  }

  &:active {
    color: $active;
  }

}

.add__birds {
  height: 100%;
}

.search-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.search__full {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.search-bar {
  margin: 0 auto;
  width: 100%;
}


.search-bar-container {
  background-color: lighten($primary-color, 80%);
  padding: 5px;
}

.search-box-bar {
  width: 200px;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.section__seen {
  background-color: #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#show-list {
  display: none;
}

// MODAL
.modal-header {
  background-color: $primary-color;
  color: #ffffff;
}

.close {
  color: lighten($primary-color, 50%);
  opacity: 1;
  text-shadow: 0 1px 0 lighten(#000000, 20%);

  &:hover {
    color: $selective-yellow;
    opacity: 1;
  }
}

.modal-b {
  width: 60%;
  margin-bottom: 10px;
  display: none;
}

.card__search {
  width: 90vw;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.sp-name {
  width: 300px;
}

.name-box {
  display: flex;
  width: 600px;
}

.input-box {
  width: 3rem;
  text-align: center;
  padding: 3px;
}

.input-no-box {
  border: 0;
  overflow: visible;
}

.dup_message {
  padding-top: 4vh;
  margin: 0 auto;
  width: 70%
}

.message-error {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 4rem;
  background-color: $primary-color;
  border-radius: 10px;
}

.fa-plus-circle {
  font-size: 1.5rem;
  color: $primary-color;
  vertical-align: center;
  padding-top: 2px;

  &:hover {
    color: $drk-hover;
  }
}

.btn-primary {
  background-color: $secondary-color;
}

.add-b {
  background-color: $primary-color;
  position: absolute;
  height: 25vh;
}

// Page Set up

.page {
  background-color: #fff;
  height: 100vh;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.hide {
  display: none;
}

.loc-info {
  display: none;
}

.fa-plus {

  &:hover {
    color: $drk-hover;
  }
}

.spotted {
  margin-top: 0;
  text-align: center;

  ul {
    list-style: none;

    li {
      list-style: none;
      text-align: center;
      color: $secondary-color;
    }
  }
}

.all-bird-list {
  display: flex;
  border: 0;
  justify-content: center;

}

//  BIRD SESSION PAGE
.sess-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
}

.full {
  height: 100%;
}

.bird-bar {
  background-color: lighten($primary-color, 20%);
}

.session-add-btn {
  padding: 20px 40px;
  background-color: lighten($primary-color, 30%);
  color: $baby-powder;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: .9rem;

  &:hover {
    text-decoration: none;
    color: $baby-powder;
    background-color: lighten($secondary-color, 30%);
  }

  a {
    color: $baby-powder;
    text-decoration: none;
  }
}


.list-box {
  border: 0;
  padding: 2px 10px;
}

.page-content {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 5vw 0;
}

/* HISTORICAL LINE CHART */
/* ticks */
.axis line {
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: $font-stack;
  font-size: 1.3rem;
}

/* LINE CHART */
.line {
  fill: none;
  stroke: #d2d2d2;
}

#chart {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.ghost-line {
  fill: none;
  stroke: #d2d2d2;
  opacity: 0;
  stroke-width: 10;
}

.serie_label {
  fill: #d2d2d2;
  font-family: $font-stack;
  font-size: 80%;
}


/*  BOOTSTRAP NAV BAR COLOR  */
/* navbar */
.container-full {
  background-color: $secondary-color;
  width: 100vw;
  padding: 1rem 3rem;
}

.navbar-custom {
  background-color: $secondary-color;
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: $baby-powder;

}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: yellow;


}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
  padding: 0 !important;
}

button:focus {
  outline: none;
  outline: none;
}

.nav-link {
  padding: .5rem .5rem .5rem 0 !important;
}


@media only screen and (min-width: 560px) {
  .container {
    width: 60vw;
    box-shadow: 2px 2px 10px #ddd, -2px 2px 3px #ddd;
  }
  .card {
    border: 1px solid rgba(0, 0, 0, .125);
  }
  .histoy {
    margin: 3vh auto 0;
  }
  .article__bird-List {
    margin: 0 auto;
  }

  .card__login {
    width: 20rem;
    padding-top: 1rem;
  }

  .dash {

    &__text {
      text-align: center;

    }
  }
  .btn__history {
    @extend .btn;
    width: 250px;
    margin: 0 5px 0;
    border: 1px solid;
    border-color: $charcoal-color;
    background-color: $secondary-color;
    color: white;
    font-size: 1rem;
    line-height: 1rem;

    &:hover {
      border-color: $charcoal-color;
      background-color: $primary-color;
      color: #fff;
    }
  }
  .btn__start {
    width: 14rem;
    text-align: center;
  }


  .session__birds--seen {
    width: 90%;
    margin: 0 auto;

  }


}
