<div class="wthr-bar">
    <div class="container-fluid">


        <div class="row justify-content-center">

            <div class="col-md-10 weather">

                <div id="w-loc" class="wthr-city mr-1">{{location.location}}</div>

                <div id="w-string" class="wthr-info mr-1"></div>

                <div id="w-desc" class="wthr-info mr-1"></div>

                <img id="w-icon" class="wthr-icon" alt="weather icon"/>

                <h3 id="w-lon" class="wthr-cord">{{location.longitude}}</h3>
                <h3 id="w-lat" class="wthr-cord">{{location.latitude}}</h3>

            </div>

        </div>
    </div>
</div>


<script src="/js/weather.js"></script>