
// Weather Bar

%wthr {
  font-size: .8rem;
  color: #ffffff;
}

.wthr-city {
  @extend %wthr;
  font-weight: 900;
}

.wthr-info {
  @extend %wthr;
  font-weight: 600;
  margin: 0 10px;
  padding: 0;
}

.wthr-cord {
  @extend %wthr;
  font-weight: 600;
  display: none;
}

.wthr-icon {
  width: 40px;
  height: 40px;
  color: $baby-powder;
  margin-bottom: 2px;
}

.weather {
  display: flex;
  align-items: center;
}

.wthr-bar {
  background-color: $primary-color;
  padding: 2px 0 8px;
  width: 100%;
}

// Header Navigation bar
.nav-bar-clr {
  background-color: $secondary-color;
  height: 3rem;
  color: $baby-powder;

  a {
    color: $baby-powder;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

.brand-text {
  font-size: 1rem;
  font-weight: 900;
}


// Show bird list
.adds {
  display: flex;
  align-content: center;
}

#bird-list {
  display: none;
}

#show-list {
  display: none;
}

.spotted-birdsU {
  width: 300px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spotted-birds {
  width: 300px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}


.sp-name{
  width: 300px;
}

.name-box {
  display: flex;
  width: 600px;
}

.watch-list {
  display: flex;
  align-items: center;

  a:link {
    text-decoration: none;
    color: $charcoal-color;
  }

  a:hover {
    text-decoration: none;
    font-weight: 800;
    color: $drk-hover

  }
}

.bird-name {
  width: 300px;
}

.flex-center{
  display: flex;
  align-items: center;
}


.flex{
  display: flex;
  justify-content: space-between;
}
.flex-vert{
  display: flex;
  flex-direction: column;
}

.flex-nospace {
  display: flex;

}

.birdlist {
  border: 0;
  padding: 8px;
}

.input-box {
  width: 3rem;
  text-align: center;
  padding: 3px;
}
.input-no-box {
  border: 0;
  overflow: visible;
}

%bird-btn {
  color: $secondary-color;
  font-weight: 600;
  margin: 0 3px 3px 0;
  border: none;
  font-size: 1rem;
  &:hover {
    color: #fff;
  }
}

.bird-btn-sm {
  @extend %bird-btn;
  border: thin solid tint($secondary-color, 50%);
  padding: 1px 15px;
  border-radius: 5px;
}

.bird-btn-add {
  @extend %bird-btn;

  padding: 1px 10px;
}
.bird-btn-addlist {
  @extend %bird-btn;
  background-color: tint($secondary-color, 90%);
  padding: 3px 15px;
}

.bird-btn-sub {
  @extend %bird-btn;
  background-color: #fcba04ff;
  padding: 1px 10px;
}

.bird-btn-start {
  background-color: tint($secondary-color, 70%);
  @extend %bird-btn;
  padding: 10px 20px;
  width: 200px;
  font-size: .9rem;
  font-weight: 800;
}

.bird-btn-box {
  @extend %bird-btn;
  width: 75px;
  font-size: .8rem;
}

.sub-btn {
  @extend %bird-btn;
  background-color: $sub-button;
  padding: 5px 7px;
  border: 0;
  font-size: .9rem;
  margin-right: 20px;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 7px;
    border: 0;
  }
}

// MODAL
.modal-header{
  background-color: $primary-color;
  color: #ffffff;
}

.close {
  color: tint($primary-color, 50%);
  opacity: 1;
  text-shadow: 0 1px 0 tint(#000000, 20%);

  &:hover {
    color: $selective-yellow;
    opacity: 1;
  }
}

.modal-b {
  width: 60%;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.fa-plus-circle {
  font-size: 1.5rem;
  color:$primary-color;
  vertical-align: center;
  padding-top: 2px;

  &:hover {
    color: $drk-hover;

  }
}

.search-bar {
  width: 200px;
  margin-right: 40px;
}

.btn-primary {
  background-color: $secondary-color;
}

.search-container {

}

.add-b {
  background-color: $primary-color;
  position: absolute;
  height: 25vh;
}

.search-bar-container {
  background-color: tint($primary-color, 80%);
  padding: 5px;
}

// Page Set up

.page {
  background-color: #fff;
  height: 100vh;
  webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.4);
}

.hide {
  display: none;
}

.loc-info {
  display: none;
}

.fa-plus {

  &:hover {
    color: $drk-hover;

  }
}

.spotted {
  margin-top: .5rem;
  text-align: center;
  padding: 8px;

  ul {

    li {
      list-style: none;
      text-align: left;
    }
  }
}

.all-bird-list {
  display: flex;
  border: 0;
  color: $primary-color;

  a {
    color: $primary-color;
    padding: 2px 4px;

    &:visited {
      color: $drk-visited;
    }

    &:hover {
      color: $slate-gray-color;
      background-color: tint($primary-color 90%)
      text-decoration: none;
    }

    &:active {
      color: $active;
    }
  }
}

//  BIRD SESSION PAGE
.sess-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
}

.full{
  height: 100% ;
}

.sess-a{
  grid-column: 1;
  grid-row: 1;
  text-align: left;

  padding: 12px;
  margin-top: 10px;
}

.sess-b{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  padding: 0 8px;
  margin-top: 10px;
}
.sess-c{
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  padding: 12px;

}

.spotted-list {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  a{
    color: $charcoal-color;
  }

  a:link {
    text-decoration: none;
    color: $charcoal-color;
  }

  a:hover {
    text-decoration: none;
    font-weight: 800;
    color: $drk-hover
  }

  a:visted {
    text-decoration: none;
    color: $charcoal-color;
  }
}

.bird-bar {
  background-color: tint($primary-color, 20%);
}

.search-box-bar {
  width: 200px;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.session-add-btn {
  padding: 20px 40px;
  background-color: tint($primary-color, 30%);
  color: $baby-powder;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: .9rem;

  &:hover {
    text-decoration: none;
    color: $baby-powder;
    background-color: tint($secondary-color, 30%);
  }

  a{
    color: $baby-powder;
    text-decoration: none;
  }
}

.sesh-bird {
  display: flex;
  list-style: none;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 400px;
}
.list-box {
  border: 0;
  padding: 2px 10px;
}

// Registration

.reg {
  font-size: .9rem;
  text-align: center;
}

.google {
  text-align: center;
  font-size: 1.2rem;
}

//dashboard

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  color: #444;
}

.box {
  font-size: 1rem;
  font-weight: 500;
  color: $space-cadet;
}

.a1 {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: left;
}

.b {
  border: thin solid rgba(46, 41, 78, .5);
  grid-column: 1 ;
  grid-row: 2;
  text-align: center;
  background-color: rgba(46, 41, 78, .03);
  border-radius: 10px;
  padding: 8px;
}

.c {
  border: thin solid rgba(46, 41, 78, .5);
  grid-column: 2 ;
  grid-row: 2;
  text-align: center;
  background-color: rgba(46, 41, 78, .03);
  border-radius: 10px;
  padding: 8px;
}

.d{
  grid-column: 3 ;
  grid-row: 2 / span 5;
  text-align: left;
}

.e {
  grid-column: 1/ span 2;
  grid-row: 3;
  text-align: center;
  // background-color: rgba(46, 41, 78, .2);
  padding: 8px 0;
}

.f {
  grid-column: 1 ;
  grid-row: 4;
  text-align: center;
  border: thin solid rgba(46, 41, 78, .5);
  background-color: rgba(46, 41, 78, .03);
  border-radius: 10px;
  padding: 8px;
}

.g {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  border: thin solid rgba(46, 41, 78, .5);
  background-color: rgba(46, 41, 78, .03);
  border-radius: 10px;
  padding: 8px;
}

.wthr-icon-d {
  width: 150px;
}

.dash-b {
  background-color: $primary-color;
  position: absolute;
  height: 50vh;
}

.page-content {
  height: 100%;
  background-color: #fff;
  padding: 20px 10px 20px;
  -webkit-box-shadow: 0 0 6px 0px rgba(46, 41, 78, .3);
  -moz-box-shadow: 0 0 6px 0px rgba(46, 41, 78, .3);
  box-shadow: 0 0 6px 0px rgba(46, 41, 78, .3);
  position: relative;
}

.b-line {
  background-color: rgba(46, 41, 78, .1);
  border-radius: 15px 15px 0 0;
  padding: 8px 8px 0px 8px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.temp {
  font-weight: 500;
  font-size: 3rem;
  color: rgba(46, 41, 78, .6);
  padding-top: 50px;
}
.new-b {
  padding: 8px;
}



/* HISTORICAL LINE CHART */
/* ticks */
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}

/* LINE CHART */
.line {
  fill: none;
  stroke: #d2d2d2;
}

.ghost-line {
  fill: none;
  stroke: #d2d2d2;
  opacity: 0;
  stroke-width: 10;
}

.serie_label {
  fill: #d2d2d2;
  font-family: Georgia;
  font-size: 80%;
}

